.modal {
    position: absolute;
    top: 30%;
    right: 25%;
    left: 25%;
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 40px;
    z-index: 1300;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-title {
        background: $green;
        display: block;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        padding: 10px;
        text-align: center;
        color: white;
        font-weight: 400;
        box-shadow: 0 0 180px 0 rgba(0, 0, 0, 0.20);
    }

    .modalForm {
        margin-top: 20px;

        button,
        input {
            margin-right: 5px;
            font-size: 16px;
            vertical-align: middle;
            display: inline-block;
        }
    }

    .modalBtn {
        position: absolute;
        top: 0;
        right: 10px;
        border: none;
        background-color: transparent;
        color: white;
        outline: none;
        cursor: pointer;
        font-size: 25px;
        font-weight: 100;
        vertical-align: middle;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        padding: 0;
        transition: all 0.1s ease-in-out;

        &:hover {
            color: black;
        }
    }

    .submitRssBtn {
        background: $green;
        color: white;
        cursor: pointer;
        padding: 0;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        outline: none;
        padding: 10px;
        border-radius: 2px;

        &:hover {
            color: black;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(37, 35, 35, 0.81);
    z-index: 1300;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
