$softgrey: rgb(244, 247, 249);
$green: rgb(2, 195, 134);
@import url( 'https://fonts.googleapis.com/css?family=Roboto:300, 400');
@import "login";
@import "snackbar";
@import "loader";
@import "icons";
@import "modal";
@import "reederContent";

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

input[type="password"],
input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    vertical-align: middle;
    outline: none;
}

input[type="password"].focus,
input[type="password"]:focus,
input[type="text"].focus,
input[type="text"]:focus {
    border-bottom: solid 2px $green;
}

.App {
    .container {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        align-items: stretch;
        height: 100vh;
    }

    .logout {
        z-index: 1000;
        text-align: right;
        height: 100%;
        border: none;
        margin-left: auto;
        padding: 0 30px;
        background: $green;
        box-shadow: 0 0 180px 0 rgba(0, 0, 0, 0.20);
        border-bottom: 1px solid transparent;
        color: white;
        font-size: 15px;
        cursor: pointer;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;

        &:hover {
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
            color: black;
        }
    }

    .feeds {
        order: 1;
        flex-basis: 15%;
        align-self: stretch;
        overflow: scroll;
        background: $softgrey;
        border-right: 1px solid rgb(235, 239, 241);
    }

    .feed {
        order: 2;
        flex-basis: 20%;
        align-self: stretch;
        overflow: scroll;
        background: $softgrey;
        border-right: 1px solid rgb(235, 239, 241);
    }

    .topBar {
        text-align: center;
        height: 40px;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;
        justify-content: center;

        &.green {
            background: $green;
            box-shadow: 0 0 180px 0 rgba(0, 0, 0, 0.20);
            border-bottom: 1px solid transparent;
        }

        &.softgrey {
            background: $softgrey;
        }

        .add {
            border: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            font-size: 20px;
            font-weight: 300;
            vertical-align: middle;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            padding: 0;
            transition: all 0.1s ease-in-out;
            color: white;
        }

        button:hover {
            color: #000;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
        }

        input {
            background: transparent;
            height: 100%;
            width: 100%;
            text-align: center;
            padding: 0;
            font-size: 15px;
            font-weight: 100;
        }
    }

    .list-contents {
        .element {
            padding: 15px 20px;
            text-align: justify;
            cursor: pointer;

            .date {
                font-size: 12px;
                font-weight: 200;
            }

            .title {
                font-size: 15px;
                font-weight: 400;
                margin-top: 5px;
            }

            &.active {
                background: white;
                -webkit-box-shadow: 0 0 181px 0 rgba(0,0,0,0.20);
                -moz-box-shadow: 0 0 181px 0 rgba(0,0,0,0.20);
                box-shadow: 0 0 181px 0 rgba(0,0,0,0.20);
            }

            &:hover:not(.active) {
                background: #e1e1e1;
                -webkit-transition: all 0.1s ease-in-out;
                -moz-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }
        }

        &.feedList {
            margin-top: 10px;
        }

        .feedEntry {
            padding: 10px 25px;

            &.active {
                font-weight: bold;
                -webkit-transition: all 0.1s ease-in-out;
                -moz-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }

            &:hover {
                .feedContainer {
                    .feedActions {
                        visibility: visible;
                        opacity: 0.2;
                        transition: visibility 0s, opacity 0.5s linear;
                    }
                }
            }

            .feedContainer {
                display: flex;
                cursor: pointer;

                .feedName {}

                .feedActions {
                    margin-left: auto;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s, opacity 0.5s linear;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                        -webkit-transition: all 0.1s ease-in-out;
                        -moz-transition: all 0.1s ease-in-out;
                        transition: all 0.1s ease-in-out;
                    }
                }
            }
        }
    }
}
