@import url( 'https://fonts.googleapis.com/css?family=Roboto:300,300i');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight:: 300;
}

.modal {
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    bottom: 30%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(37, 35, 35, 0.81);
}

.App {
    .container {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        align-items: stretch;
        height: 100vh;
    }

    .logout {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .feeds {
        order: 1;
        flex-basis: 20%;
        align-self: stretch;
        border-right: 1px solid #000;
        overflow: scroll;
        padding: 5px;
    }

    .feed {
        order: 2;
        flex-basis: 20%;
        align-self: stretch;
        border-right: 1px solid #000;
        overflow: scroll;
        padding: 5px;
    }

    .content {
        order: 3;
        flex-basis: 60%;
        align-self: stretch;
        overflow: scroll;
        padding: 5px;
    }

    .search {
        height: 20px;
        position: fixed;
    }

    .add {
        outline: none;
    }

    .element {
        padding: 5px;
        text-align: justify;
        border-bottom: 1px solid #eee;

        .title {
            font-size: 15px;
        }

        .description {
            font-size: 13px;
            font-style: italic;
        }
    }

    .list-contents {
        margin-top: 20px;

        .active {
            background: green;
        }
    }
}
